<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common">
    <div class="flex">
        <a href="https://github.com/Daeun-Oh/UsedItsue.git">github</a>
        <a href="https://github.com/Daeun-Oh/">오다은</a>
        <a href="https://github.com/rmfTp/">김용준</a>
        <a href="https://github.com/chltkdwns">최상준</a>
        <a href="https://github.com/songmikim">김송미</a>
        <a href="https://github.com/dkstmfrl020527">안슬기</a>
        <a href="https://github.com/vanya1120">오경석</a>
    </div>
    <span style="transform: scaleX(-1); display: inline-block;">&copy;</span>
    <span>all right reserved</span>
</footer>
</footer>
</html>