.dn {
    display:none !important;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    margin:50px auto;
    width:600px;
    height: 100px;
    text-align:center;
    justify-content: center;
    color: #012d1c;
    font-size:0.8em;
}

footer>div.flex{
    grow:1;
    a:first-child{
        border:0 !important;
    }
    margin-bottom:10px;
    box-shadow: 0 0 4px rgba(1, 45, 28, 0.1);
    padding:0;
}
footer a {
    padding: 10px 20px;
    width: calc(100% / 7);
    border-left:1px solid #012d1c;
    box-sizing:border-box;
    text-align:center
}
